.nav-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#logo-nav {
  width: 3rem;
}

.background-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

#background-logo {
  width: 50%;
  border-radius: 50%;
  opacity: 40%;
}
