:root {
  --color-neutral-light: white;
  --color-neutral-dark: black;
  
  --color-background: #F5F1E7;
  --color-primary: #8B5E3C;
  --color-secondary: #BFA58A;
  --color-accent: #3B3A30;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--color-background);
  color: var(--color-neutral-dark);
  min-height: 100vh;
  min-width: 320px;
  overflow: hidden;
}

nav {
  background-color: var(--color-primary);
}

a {
  font-weight: 500;
  color: var(--color-neutral-light);
  text-decoration: none;
}
a:hover {
  color: var(--color-accent);
}

img {
  width: 20rem;
  border-radius: 50%;
}
